@import "./modulos/colors.scss";
@import "./modulos/fontSize.scss";
@import "./modulos/spacing";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import "./modulos/mixins";

@import "./modulos/globales";

@import "./modulos/header-hero";
@import "./modulos/sistemas";
@import "./modulos/equipos";
@import "./modulos/slider-clientes";
@import "./modulos/slider-banner";

@import "./modulos/contactos";

@import "./modulos/trabajos";

.preguntas {
  @include fondoColor();
  &__titulo {
    @include titulo();
  }
  &__container {
    max-width: 800px;
    width: 100%;
    margin: $nm auto;

    .link_preguntas {
      color: $color-secundario;
      font-size: $font-nm;
      font-weight: 500;
      &:hover {
        color: $color-principal;
      }
    }
  }
}

@import "./modulos/footer";
@import "./modulos/media";
